<section class="max-w-6xl my-12 mx-auto px-2 flex flex-col justify-center items-center gap-6" data-aos="fade-up">
  <%- include("../components/TitleOne",{title:"Nuestros Miembros"}) %>
  <h3 class="font-vigilio-title dark:text-secondary-light capitalize relative">
    Preparados para atenderte
  </h3>
  <% if(members.length){ %>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4 lg:gap-6">
    <% for(member of members){ %>
    <div class="flex-1 bg-background-light dark:bg-paper-dark flex-col justify-center items-center group overflow-hidden hover:bg-primary dark:hover:bg-primary shadow-md group">
      <%- include("../components/editAdminModifier",{uri:`/admin/users/1/update`}) %>
      <img width="300" height="300" src="<%=printFileWithDimension(member.foto,"users",300) %>" alt="<%= `${member.name} ${member.father_lastname||''}`  %>" class="object-cover p-4 h-[240px] sm:h-[290px] lg:h-[320px]" />
      <div class="flex flex-col items-center gap-1 p-2 sm:p-6">
        <span class="dark:text-secondary-light text-center text-base lg:text-xl font-bold group-hover:text-white"><%= member.name %> <%= member.father_lastname ?? '' %> <%= member.mother ?? '' %></span>
        <p class="font-vigilio-p group-hover:text-white"><%= member.especialidad %></p>
      </div>
    </div>
    <% } %>
  </div>
  <%- include("../components/LinkOne",{uri:"",title:"Ver más"}) %>
  <% } else {%>
  <div class="min-h-[200px] relative">
    <span class="dark:text-secondary-light text-secondary-dark">No hay Miembros</span>
    <%- include("../components/editAdmin.ejs",{uri:"/admin/users"}) %>
  </div>
  <% } %>
</section>